body{
    #app {
        .header {
            .header-item {
                details summary::-webkit-details-marker {
                    display:none;
                }
                details summary {
                    width: 170px;
                    vertical-align: middle;
                    overflow: hidden;
                    white-space: nowrap;

                    span {
                        width: 100px;
                        display: inline-block;
                        font-size: 15px;
                        margin-left: 7px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .arrow {
                        margin-left: 12px;
                        margin-bottom: 6px;
                        margin-top: 6px;
                        border: solid black;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 3px;
                        
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }
            }
            
            .logo{
                position: absolute;
                width: 43px;
                height: 43px;
                top: 12px
            }

            .py-5px {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
        
            .sml-photo {
                top: 6px;
                left: 7px;
                position: absolute;
                vertical-align: middle;
                display: inline-block;
                //margin-left: 15px !important;
                img {
                    width: 25px;
                    height: 25px;
                    border: 1px solid transparent;
                    border-radius: .4em;
                }
            }
        }

        .edit-profile {
            .change-image {
                margin: 0 auto;
                width: fit-content;
                label {
                    position: relative;
                    .img-edit {
                        border-radius: 50%;
                        margin-top: 2.5px;
                        width: 250px;
                        height: 250px;
                        margin: 0 auto;
                    }
                    .image-overlay {
                        position: absolute;
                        width: 250px;
                        height: 250px;
                        margin-top: -255px;
                        border-radius: 50%;
                        background-color: #9e9e9e83;
                        cursor: pointer;
                        &:hover {
                            background-color: #8181814f;
                            .change {
                                background-color: #ffffff;
                            }
                        }
                        .change {
                            position: absolute;
                            bottom: calc(250px / 2 - 21px / 2);
                            left: calc(250px / 2 - 91px / 2);
                            background-color: #ffffff6e;
                            padding: 2px;
                            font-weight: 600;
                        }
                        &.changed {
                            background-color: #9c9c9cb6;
                            &:hover {
                                background-color: #a5a5a5a6;
                                .change {
                                    background-color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .Navigation {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            background: #ffffff;
            box-shadow: 1px 1px 1px rgba(0,0,0,.2);
            ul {
                margin-left: -25px;
                li {
                    display: inline;
                    a {
                        text-decoration: none;
                        color: #0059ff;
                        padding: 0 5px;
                    }
                    a:hover{
                        color: #666666;
                    }
                }
                .auth {
                    float: right;
                    margin-left: 5px;
                }
            }
        }
        
        button {
            a {
                text-decoration: none;
                color: #000000;
            }
        }

        .ingredient {
            .ingr-item {
                width: 30%;
                --ingr-val: calc(1.2vw / 3);
                margin-right: var(--ingr-val);
                margin-left: var(--ingr-val);
            }
            margin-top: 2px;
            margin-bottom: 6px;
        }

        .profile-image {
            img{
                width: 200px;
                height: 200px;
                border: 2px solid #a8a8a8;
                border-radius: 100%;
                
                &:hover {
                    border: 2px solid #e0e0e0;
                }
            }
        }

        .profile-info {
            span {
                margin: 2px 12px;
            }
        }

        .folbtn {
            width: 200px;
        }

        .container {
            margin-top: 15px;
            .posts-placeholder {
                height: 300px;
                .text-placeholder {
                    background-color: #b9b9b9;
                    height: 20px;
                    width: 50%;
                }
                .title-placeholder {
                    background-color: #949494;
                    height: 30px;
                    width: 30%;
                }
                .description-placeholder {
                    background-color: #dddddd;
                    height: 20px;
                    width: 99%;
                }
            }
            .card, .screen-post {
                .under-categories {
                    position: absolute;
                    margin-top: -1px;
                    margin-left: -20px;
                    width: 150px;
                    height: 160px;
                    display: none;
                
                    .categories-all {
                        position: absolute;
                        width: 150px;
                        height: 150px;
                        background-color: #ebebeb;
                        z-index: 500;
                        border: 1px solid #d8d8d8;
                        border-radius: .5em;
                        margin-top: 7px;
                        overflow: auto;

                        .ctg-text {
                            color: #464646;
                            margin-top: 4px;
                            font-size: 13px;
                            display: block
                        }
                    }
                }
                

                    
                .others:hover .under-categories {
                    display: block;
                }
                
                .others {
                    &.label:hover {
                        ~.under-categories{
                            display: block;
                        }
                    }
                }
                .author a {
                    padding-bottom: 5px;
                }
                .author a:hover ~ .popover-author, .popover-author:hover {
                    display: block;
                    position: absolute;
                    background: #fbfbfb;
                    border: 1px solid #b6b6b6;
                    border-radius: .2em;
                    margin-top: -1px;
                    z-index: 10000;
                    width: 200px;
                    height: 66px;
                }
                .popover-author {
                    display: none;
                    .md-photo {
                        top: 6px;
                        left: 7px;
                        position: absolute;
                        vertical-align: middle;
                        display: inline-block;
                        //margin-left: 15px !important;
                        img {
                            width: 50px;
                            height: 50px;
                            border: 1px solid transparent;
                            border-radius: .4em;
                        }
                    }

                    .author-user {
                        position: absolute;
                        margin-left: 8px;
                        font-size: 18px;
                        font-weight: 500;
                        width: 118px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .author-post {
                        color: #7c7c7c;
                        margin-top: 25px;
                        margin-left: 8px;
                        font-size: 14px;
                        font-weight: 500;
                        width: 118px;
                        position: absolute;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .author-flw {
                        margin-top: 55px;
                        margin-bottom: 5px;
                        left: 0;
                        width: 186px;
                        
                        position: absolute;
                        a {
                            width: 100%;
                        }
                    }

                    &.flw {
                        height: 100px !important;
                    }
                }
                .comment {
                    margin-top: 25px;
                    padding-left: 15px;
                    padding-right: 15px;
                    ul {
                        list-style-type: none;
                        margin-left: 20px;
                        li, div.comment {
                            border-left: 1px solid #000000;
                            padding-left: 20px;
                            margin-top: 20px;
                        }
                    }
                    .cmnt {
                        white-space: pre-line;
                    }
                }
                .top-card {
                    padding-left: unset !important;
                    margin-left: 8px;
                }

                .card-body, .screen-body {
                    padding: 7px;
                    padding-bottom: 0;
                    .description, .directions {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        margin-top: 2px;
                        margin-bottom: 2px;
                    }

                    .description, .directions, .screen-description, .screen-directions {
                        white-space: pre-line;
                    }

                    .ingredients, .screen-ingredients {
                        margin-top: 4px;
                        margin-bottom: 4px;

                        .ingredient-name {
                            margin-right: 6px;
                            font-weight: 600;
                        }
                        .ingredient-amount {
                            margin-right: 2px;
                        }
                    }

                    .description, .screen-description{
                        color: #5f5f5f;
                    }

                    .screen-directions, .screen-description {
                        margin-bottom: 6px;
                        margin-top: 6px;
                    }

                    .btn-icon {
                        padding: 1px !important;
                    }
                }
                

                .card-img-top{
                    padding: 0 !important;
                }
                
                    
                .card-footer {
                    position: relative;
                    bottom: 0;
                    width: 100%;
                    height: 35px;
                    padding-top: 7.5px;
                    padding-bottom: 7.5px;
                    display: block;
                    background: #fbfafa;
                    text-align: center;
                    border-top: 1px solid #e2e2e2;
                    border-bottom-left-radius: calc(.25rem - 1px);
                    border-bottom-right-radius: calc(.25rem - 1px);

                    &:hover {
                        background: #eeeeee;
                    }
                }
                .card-image {
                    max-height: 471px;
                    overflow: hidden;

                    .card-img-top {
                        margin: auto; 
                        min-height: 100%;
                        min-width: 100%;
                        left: -100%;
                        right: -100%;
                        top: -100%;
                        bottom: -100%;
                    }
                }
            }

            

            .welcome {
                margin-top: 168px;
                margin-bottom: 168px;

                .title-schn {
                    font-size: 74px;
                    font-weight: 600;
                }

                .wlcm-reg {
                    padding-left: 45px !important;
                    padding-right: 45px !important;
                }
            }
            

            .screen-post {
                .card-image {
                    max-height: 810px !important;
                    border-top-right-radius: .5em;
                    border-top-left-radius: .5em;
                }
            }
        }

        .btn-checkbox, .btn-radio {
            display: inline-block;

            input {
                display: none;
                + label{
                    background-color: transparent;
                    border: 1px solid #4882ff;
                    border-radius: .25em;
                    padding: 4px 8px;
                    margin: 4px;
                    display: inline-block;
                    text-align: center;
                    vertical-align: middle;
                    user-select: none;
                    line-height: 20px;
                    cursor: pointer;

                    &:hover{
                        background-color: #c6d8ff;
                    }
                }
                &:checked + label{
                    background-color: #4882ff;
                    color: #ffffff;
                }
            }
        
        }

        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1001;
            background: rgba(0, 0, 0, 0.3);
            overflow-x: auto;
            overflow-y: auto;
        }
        
        .poston{
            z-index: 1005;
            top: 5%;
            width: 1080px;
            padding-bottom: 10px;
            margin: 25px auto;
            background: #ffffff;
            box-shadow: 1px 1px 5px -5px #868686;
            border-radius: 0.5em;

            .card-image > .card-img-top {
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 1145px){
            .poston {
                left: 2%;
                right: 2%;
                width: 96%;
                
                .card-image {
                    --div-width: calc(100vw);
                    width: var(--div-width) - 2%;
                    height: calc(var(--div-width) * 3 / 4);
                }
            }
        }
        
        .followers{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1005;
            width: 300px;
            height: 300px;
            margin: 0;
            background: #ffffff;
            border: 1px #b8b8b8 solid;
            border-radius: 0.5em;

            .title{
                font-weight: 600;
                text-align: center;
                border-bottom: 1px solid #b8b8b8;
            }
        
            li{
                list-style-type: none;
            }
            .flwrs {
                position: relative;
                width: 100%;
                height: 100%;
                .list{
                    overflow: auto;
                    height: calc(100% - 22px);
                    .flw-li {
                        border: 1px solid #b8b8b8;
                        border-radius: .25em; 

                        &:hover{
                            border-color: #868686;
                        }

                        span {
                            margin: 4px;
                            font-size: 16px;
                            
                            a{
                                margin-right: 2px;
                            }
                        }
                    }
                }
                .list-placeholder {
                    overflow: auto;
                    height: calc(100% - 22px);
                    .item-placeholder {
                        background-color: #dbdbdb;
                        border-radius: .25em; 
                        height: 24px;
                        width: calc(100% -8px);
                        margin: 4px;
                    }
                }
            }
        }
    }
}

body.dark {
    background-color: #202020;
    color: #fbfafa !important;
    .gg-chevron-up {
        color: #afafaf;
        &:hover {
            color: #0059ff;
        }
    }
    header.header {
        background-color: #161616;
    }
    .btn-blue-transparent {
        color: #fbfafa !important;
    }
    .btn-red-transparent {
        color: #fbfafa !important;
    }
    .poston {
        background-color: #0e0f10 !important;
        .screen-body {
            .screen-description {
                color: #989898 !important;
            }
        }
    }
    .card {
        background-color: #0e0f10;
        box-shadow: 2px -1px 9px #0e0d0d !important;
        .card-body {
            .description {
                color: #989898 !important;
            }
        }
        a > .card-footer {
            background-color: #09090a !important;   
            border-top: 1px solid #09090a !important;
            &:hover {
                background-color: #343436 !important;   
            }
        }
    }
    .change-image {
        .image-overlay {
            .change {
                color: #000000;
            }
        }
    }
}

.btn-link {
    height: fit-content;
    width: fit-content;
    background: none;
    border: none;
    color: #296cff;
    &:hover {
        text-decoration: underline;
    }
    &:active, &:focus {
        border: none;
        outline: none;
    }
}

.lbl {
    position: relative;
    display: block;
    height: fit-content;
    margin: 15px 5px;
    span {
        vertical-align: top;
        margin-right: 5px;
        margin-left: 5px;
    }
}

.dropdown-custom {
    text-align: center;
    text-transform: capitalize;
    div.dropdown-custom-top {
        position: relative;
        background-color: #ffffff;
        border: 1px solid transparent;
        color: #09090a;
        border-radius: 2px;
        cursor: pointer;
        padding: 5px 0;
        font-weight: 500;
        font-size: 16px;
        &::after {
            content: "";  
            position: absolute;
            right: 0;
            margin-top: 8px;
            margin-right: 4px;
            width: 0; 
            height: 0; 
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #2e2e2e;
        }
        &.--open {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: transparent;
            margin-bottom: 0 !important;
            &::after {
                content: "";  
                position: absolute;
                right: 0;
                margin-top: 8px;
                margin-right: 4px;
                width: 0; 
                height: 0; 
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #2e2e2e;
                border-top: none;
            }
        }
        span.dropdown-custom-fieldname {
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
            -khtml-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none;
        }
    }
    div.dropdown-custom-open {
        border: 1px solid transparent;
        border-top: none;
        margin-top: 0 !important;
        background-color: #fbfafa;
        border-bottom-right-radius: .2em;
        border-bottom-left-radius: .2em;
        font-size: 16px;
        input.dropdown-custom-search {
            position: relative;
            width: calc(100% - 2 * 2px);
            margin: 2px;
            background-color: #fbfbfb;
            border: 1px solid #9c9c9c;
            border-radius: .3em;
            &:hover {
                border: 1px solid #b6b6b6;
            }
        }
        ul.dropdown-custom-list {
            padding: 1px 0;
            max-height: 100px;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
            -ms-overflow-style: none;   
            scrollbar-width: none; 
            li.dropdown-custom-listitem {
                margin: 2px;
                padding: 1px 0;
                list-style-type: none;
                color: #0e0d0d;
                -webkit-touch-callout: none; 
                -webkit-user-select: none; 
                -khtml-user-select: none; 
                -moz-user-select: none; 
                -ms-user-select: none; 
                user-select: none;
                cursor: pointer;
                &:hover {
                    background-color: #c6d8ff;
                }
            }
        }
    }
}

.dropdown-item {
    .swc {
        .switch {
            &[aria-checked=true] { 
                justify-content: flex-end;
                background-color: #a5a5a5;
                .toggle {
                    background-color: #242424;
                }
            }
            &[aria-checked=false] {
                justify-content: flex-start;
                background-color: #e4e4e4;
                .toggle {
                    background-color: #242424;
                }
            }
        }
        margin-top: 1px;
        &~span {
            vertical-align: top;
            margin-left: 7px;
            cursor: pointer;
        }
    }
}

 .switch {
    display: flex;
    border: 2px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    width: 35px;
    .toggle {
        background-color: #ffffff;
        border-radius: 57%;
        width: 57%;
        &::after {
            content: "";
            padding-top: 100%;
            display: block;
        }
    }
    &[aria-checked=true] {
        justify-content: flex-end;
        background-color: #a5a5a5;
        .toggle {
            background-color: #242424;
        }
    }
    &[aria-checked=false] {
        justify-content: flex-start;
        background-color: #464646;
        .toggle {
            background-color: #ffffff;
        }
    }
}

@media only screen and (max-width: 865px){
    .container {
        .posts {
            .card {
                width: 630px !important;
            }
        }
    }
}

@media only screen and (max-width: 630px){
    .container {
        .posts {
            .card {
                width: 100% !important;
                border-radius: 0;
                border-right: none;
                border-left: none;
                img {
                    border-radius: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 475px){
    .container {
        .posts {
            .card {
                .date {
                    display: block;
                    margin-left: 0 !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 275px){
    .container {
        .posts {
            .card {
                .author {
                    display: block;
                    margin-left: 0 !important;
                }
            }
        }
    }
}